@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    scroll-behavior: smooth; /* Enables smooth scrolling for anchor links */
}

body {
    scroll-behavior: smooth;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

}

/* Navbar Styles */
.navbar {
    background-color: #000000; /* Black background */
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff; /* White text */
    margin-left: 50px;
}

.navbar-brand:hover {
    color: #ffffff;
}

.navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #ffffff; /* White text */
    margin-right: 15px;
}

.navbar-nav .nav-link:hover {
    color: #ffffff2d; /* Blue hover effect */
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    color: #ffffff; /* White icon for visibility */
}

.icon i {
    font-size: 1.25rem;
    color: #ffffff; /* White icons */
    margin-right: 10px;
}

.icon i:hover {
    color: #007bff; /* Blue hover effect */
}

.d-flex.align-items-center {
    margin-left: auto;
}

/* Section Styles */
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    text-align: center;
}

.home {
    background-image: url("img/ghost.jpg");
    background-position: center;   /* Centers the background image */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    height: 100vh;                 /* Makes sure the section takes up the full viewport height */
    width: 100%;                   /* Ensures the section takes up the full width of the page */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;                     /* Removes any margin */
    padding: 0;                    /* Removes any padding */
    box-sizing: border-box;        /* Ensures padding and border are included in the element's total width and height */
}

.about {
    background-color: black;
}


.section-container {
    scroll-snap-type: y mandatory;
    height: 100%;
    width: 100%;
}

/* Animation */
@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.title-page {
    width: 100vh;
}

.main-title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000; /* Enhanced text shadow */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Subtitle styling */
.subtitle {  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    text-shadow: 2px 2px 4px #000000; /* Enhanced text shadow */
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}